@import '../../../base';

.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.02);
}

.table-hover tbody tr:hover {
  background-color: #e4f1ff;
}

.batch {
  color: $color-button;
  text-decoration: none;
  cursor: pointer;
}

.batch:hover {
  color: $color-button;
}

.batch:hover::after {
  content: "▼";
  float: right;
}

.good {
  background-color: $color-green;
  color: white;
}

.bad {
  background-color: $color-madder_lake;
  color: white;
}

.inprogress {
  background-color: $color-carolina_blue;
  color: white;
}

.unknown {
  background-color: $color-charcoal;
  color: white;
}
