@import '../../../base';

.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.02);
}

.table-hover tbody tr:hover {
  background-color: #e4f1ff;
}

.menu {
  color: $color-button;
  text-decoration: none;
  cursor: pointer;
  position: relative;
}

.menu:hover {
  color: $color-button;
}

.menu:hover::after {
  content: "▼";
  position: absolute;
  //float: right;
  right: 0;
  margin-left: 0.5rem;
}

.good {
  background-color: $color-green;
  color: white;
}

.bad {
  background-color: $color-madder_lake;
  color: white;
}

.inprogress {
  background-color: $color-carolina_blue;
  color: white;
}

.unknown {
  background-color: $color-charcoal;
  color: white;
}
