@import '../../base';

#header {
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
  a {
    font-size: 1.5rem;
    cursor: pointer;
  }
}

#toolbar {
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
}

.done {
  color: $color-green;
}

.fail {
  color: $color-madder_lake;
}

.working {
  color: $color-carolina_blue;
}

.todo {
  color: $color-charcoal;
}
