@import '../../base';

#header {
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
  a {
    font-size: 1.5rem;
    cursor: pointer;
  }
}

#toolbar {
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
}

#list {
  table {
    table-layout: fixed;
    td {
      span.badge {
        color: white;
      }
    }
  }
}

.done {
  background-color: $color-green;
}

.fail {
  background-color: $color-madder_lake;
}

.working {
  background-color: $color-carolina_blue;
}

.todo {
  background-color: $color-harvest_gold;
}
