<app-analysis-datetime-def #period [def]="def"></app-analysis-datetime-def>
<div id="analysing_data" class="row form-group m-0 mb-4 align-items-center">
  <label class="col">Elemezendő adat</label>
  <select #objects class="col form-control" [ngModel]="def.obj?.type" (change)="objectChanged(objects.value)" [disabled]="!access.canUpdate">
    <option *ngFor="let obj of objects$ | async" [value]="obj.name">{{obj.displayname}}</option>
  </select>
</div>
<div class="row m-0">
  <fieldset class="filters col-12 p-4">
    <legend>szűrő</legend>
    <table class="table mr-0 mt-2 text-center">
      <tbody>
        <tr class="filter mr-0 mt-2" *ngFor="let filter of filters$ | async">
          <td>
            <select class="form-control" [(ngModel)]="filter.field" (change)="updateFilterField(filter)" [disabled]="!access.canUpdate">
              <option *ngFor="let field of fields$ | async" [value]="field.name">{{field.displayname}}</option>
              <option *ngIf="!validField(filter.field)" [value]="filter.field">{{filter.field}}</option>
            </select>
          </td>
          <td>
            <select class="form-control mr-2" [(ngModel)]="filter.rel" [disabled]="!access.canUpdate">
              <option *ngFor="let op of operators" value="{{op}}">{{op}}</option>
            </select>
          </td>
          <td>
            <input class="form-control mr-2" [(ngModel)]="filter.value" *ngIf="filter.values?.length === 0" [disabled]="!access.canUpdate" />
            <select class="form-control mr-2" [(ngModel)]="filter.value" *ngIf="filter.values?.length > 0" [disabled]="!access.canUpdate">
              <option *ngFor="let value of filter.values" [value]="value">{{value}}</option>
            </select>
          </td>
          <td>
            <button class="btn btn-outline-danger" title="törlés" (click)="deleteFilter(filter)" *ngIf="access.canUpdate">
              <i class="bi bi-trash"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <button class="btn btn-primary mt-4" (click)="newFilter()" *ngIf="access.canUpdate">
      <i class="bi bi-plus"></i>
      hozzadás...
    </button>
  </fieldset>
  <fieldset class="list-settings col p-4 mt-4 ml-2">
    <legend>lista beállítás</legend>
    <div class="row form-group">
      <label class="col">megnevezés</label>
      <input class="col form-control" [(ngModel)]="def.visualsettings.title" [disabled]="!access.canUpdate"/>
    </div>
    <div class="row form-group">
      <label class="col">rövid magyarázat</label>
      <input class="col form-control" [(ngModel)]="def.visualsettings.subtitle" [disabled]="!access.canUpdate"/>
    </div>
    <fieldset class="p-4 mt-4 ml-2">
      <legend>színek</legend>
      <div class="row form-group">
        <label class="col-6">fejléc háttér</label>
        <input type="color" class="col-auto form-control" [(ngModel)]="colors.header_bg" [disabled]="!access.canUpdate"/>
      </div>
      <div class="row form-group">
        <label class="col-6">fejléc szöveg</label>
        <input type="color" class="col-auto form-control" [(ngModel)]="colors.header_fg" [disabled]="!access.canUpdate"/>
      </div>
      <div class="row form-group">
        <label class="col-6">páratlan sor háttér</label>
        <input type="color" class="col-auto form-control" [(ngModel)]="colors.normal_bg" [disabled]="!access.canUpdate"/>
      </div>
      <div class="row form-group">
        <label class="col-6">páratlan sor szöveg</label>
        <input type="color" class="col-auto form-control" [(ngModel)]="colors.normal_fg" [disabled]="!access.canUpdate"/>
      </div>
      <div class="row form-group">
        <label class="col-6">páros sor háttér</label>
        <input type="color" class="col-auto form-control" [(ngModel)]="colors.even_bg" [disabled]="!access.canUpdate"/>
      </div>
      <div class="row form-group">
        <label class="col-6">páros sor szöveg</label>
        <input type="color" class="col-auto form-control" [(ngModel)]="colors.even_fg" [disabled]="!access.canUpdate"/>
      </div>
    </fieldset>
    <fieldset class="p-4 mt-4 ml-2">
      <legend>oszlopok</legend>
      <div class="row form-group" *ngIf="access.canUpdate">
        <select #selectableColumns class="col form-control mr-4">
          <option *ngFor="let column of selectableColumns$ | async" [value]="column[0]">{{column[1]}}</option>
        </select>
        <button class="col-auto btn btn-primary" (click)="addColumn(selectableColumns.value)">
          <i class="bi bi-plus"></i>
          hozzadás...
        </button>
      </div>
      <table class="table table-borderless">
        <thead>
          <th width="12%">&nbsp;</th>
          <th>név</th>
          <th>megj. név</th>
          <th>szélesség</th>
          <th width="4%">&nbsp;</th>
        </thead>
        <tbody>
          <tr *ngFor="let col of columns$ | async; index as i; last as last trackBy: columnTrackBy;">
            <td>
              <div class="row">
                <button class="col-auto btn btn-outline-primary mr-2" [disabled]="i === 0" title="előrébb" (click)="changeColumnPosition(-1, i)"><i class="bi bi-chevron-up"></i></button>
                <button class="col-auto btn btn-outline-primary" [disabled]="last" title="hátrébb" (click)="changeColumnPosition(1, i)"><i class="bi bi-chevron-down"></i></button>
              </div>
            </td>
            <td class="align-middle">{{col.field}}</td>
            <td>
              <input class="form-control" [(ngModel)]="col.caption" [disabled]="!access.canUpdate"/>
            </td>
            <td>
              <div class="input-group">
                <input type="number" min="0" max="100" class="form-control" [(ngModel)]="col.width" [disabled]="!access.canUpdate"/>
                <div class="input-group-append">
                  <span class="input-group-text">%</span>
                </div>
              </div>
            </td>
            <td>
              <button class="btn btn-outline-danger" (click)="deleteColumn(col.field)" title="törlés" *ngIf="access.canUpdate">
                <i class="bi bi-trash"></i>
              </button>
            </td>
        </tbody>
      </table>
    </fieldset>
  </fieldset>
</div>
