<div class="row m-0 mb-4">
  <fieldset class="col-12 p-4">
    <legend>időszak</legend>
    <div class="row m-0">
      <input type="datetime-local" class="form-control col-3" [ngModel]="timestamp | date:'yyyy-MM-ddTHH:mm'" (ngModelChange)="timestamp = $event" />
      <div class="btn-group btn-group-toggle col-3" ngbRadioGroup name="radioBasic" [(ngModel)]="direction">
        <label ngbButtonLabel class="btn-primary">
          <input ngbButton type="radio" [value]="1">követő
        </label>
        <label ngbButtonLabel class="btn-primary">
          <input ngbButton type="radio" [value]="0">megelőző
        </label>
      </div>
      <input type="number" class="form-control col-1" [(ngModel)]="count" />
      <select class="form-control col-2" [(ngModel)]="period">
        <option *ngFor="let p of periods" [value]="p[0]">{{p[1]}}</option>
      </select>
    </div>
  </fieldset>
</div>
