<form class="row m-0" #form="ngForm" [noValidate]="false">
  <div class="col">
    <div class="row mb-4">
      <div class="btn-group btn-group-toggle col-auto pr-0" ngbRadioGroup name="radioBasic" [(ngModel)]="def.status">
        <label ngbButtonLabel class="{{def.status !== 'active' ? 'btn-outline-success' : 'btn-success'}}" title="aktív">
          <input ngbButton type="radio" [value]="'active'">aktív
        </label>
        <label ngbButtonLabel class="{{def.status === 'active' ? 'btn-outline-secondary' : 'btn-secondary'}}" title="inaktív">
          <input ngbButton type="radio" [value]="'inactive'">inaktív
        </label>
      </div>
      <button type="submit" class="col-auto ml-auto btn btn-outline-success" (click)="save(form)" [disabled]="form.invalid">
        <i class="bi bi-save"></i>
        mentés
      </button>
    </div>
    <div class="row align-items-center mb-4">
      <div class="col form-group p-0 mb-0">
        <input #name="ngModel" class="form-control" name="name" [(ngModel)]="def.name" placeholder="riasztás neve" pattern="^[^:/\\?&+=\x22 ]*$" required />
        <div *ngIf="name.invalid" class="invalid-feedback">
          <div *ngIf="name.errors?.required">név megadása kötelező</div>
          <div *ngIf="name.errors?.pattern">csak alfanumerikus lehet</div>
        </div>
      </div>
      <div class="col-5">
        <div class="row m-0">
          <label class="col m-0">utolsó ellenőrzés</label>
          <label class="col m-0 font-weight-bold">{{def.last_check | date:"yyyy.MM.dd HH:mm:ss"}}</label>
        </div>
        <div class="row m-0">
          <label class="col m-0">utolsó hibajelentés</label>
          <label class="col m-0 font-weight-bold">{{def.last_report | date:"yyyy.MM.dd HH:mm:ss"}}</label>
        </div>
      </div>
    </div>
    <div class="row mb-4">
      <fieldset class="col-6 p-4">
        <legend>csoport</legend>
        <select class="form-control" name="group" [(ngModel)]="def.subsgroup">
          <option *ngFor="let group of groups" [value]="group">{{group}}</option>
        </select>
      </fieldset>
    </div>
    <div class="row mb-4">
      <fieldset class="col p-4 mr-4">
        <legend>maximum jelentési frekvencia</legend>
        <app-period-selector [(seconds)]="def.max_freq"></app-period-selector>
      </fieldset>
      <fieldset class="col p-4">
        <legend>visszatekintés</legend>
        <app-period-selector [(seconds)]="def.window"></app-period-selector>
      </fieldset>
    </div>
    <fieldset class="row p-4">
      <legend>feltételek</legend>
      <div class="col-12">
        <div class="row mb-2" *ngFor="let rule of rules$ | async; index as ruleIdx; trackBy: trackByRuleIdx">
          <select class="col-2 form-control" [name]="'rule_device_' + ruleIdx" [(ngModel)]="rule.device">
            <option *ngFor="let device of devices" [value]="device.id">{{device.name}}</option>
          </select>
          <app-meta-selector class="col-2" [selectableTypes]="[]" [metaList]="metaList" [device]="rule.device" (change)="selectRuleMeta(rule, $event)" [selectedMetaId]="getSelectedDataId(rule)"></app-meta-selector>
          <div class="col">
            <div class="row align-items-center">

              <ng-template [ngIf]="rule.sample">
                <div class="col-5 mr-2">
                  <app-period-selector [(seconds)]="rule.sample.aggregate_period" [(unit)]="rule.sample.aggregate_count" [unitOption]="true"></app-period-selector>
                </div>
                <select class="col-2 form-control mr-2" name="rule_sample_aggregate_method" [(ngModel)]="rule.sample.aggregate_method">
                  <option *ngFor="let method of getNumberAggregates()" [value]="method[0]">{{method[1]}}</option>
                </select>
                <select class="col-2 form-control mr-2" name="rule_sample_rel" [(ngModel)]="rule.sample.rel">
                  <option *ngFor="let rel of getNumberRelations()" [value]="rel">{{rel}}</option>
                </select>
                <input type="number" class="col form-control" name="rule_sample_value" [(ngModel)]="rule.sample.value" step="0.01" />
              </ng-template>

              <ng-template [ngIf]="rule.event">
                <select class="col-2 form-control mr-2" name="rule_event_rel" [(ngModel)]="rule.event.rel">
                  <option *ngFor="let rel of getStringRelations()" [value]="rel">{{rel}}</option>
                </select>
                <autocomplete-input [values]="rule.value_list" [(value)]="rule.event.value" class="col mr-2"></autocomplete-input>

                <input type="number" class="col-2 form-control" name="rule_event_age_min" [(ngModel)]="rule.event.age_min"  step="0.01"/>
                <label class="col-auto mr-1 ml-1 mb-0">-</label>
                <input type="number" class="col-2 form-control" name="rule_event_age_max" [(ngModel)]="rule.event.age_max" step="0.01"/>
              </ng-template>

              <ng-template [ngIf]="rule.condition">
                <input class="col-4 form-control mr-2" name="rule_condition_value" [(ngModel)]="rule.condition.value" />
                <input type="number" class="col-2 form-control" name="rule_condition_age_min" [(ngModel)]="rule.condition.age_min" step="0.01" />
              </ng-template>
            </div>
          </div>
          <div class="col-auto ml-auto pl-2 pr-0">
            <button class="btn btn-outline-danger" title="törlés" (click)="deleteRule(rule.id)">
              <i class="bi bi-trash"></i>
            </button>
          </div>
        </div>
      </div>
      <button class="col-auto btn btn-primary mt-2" (click)="newRule()">
        <i class="bi bi-plus-lg"></i>
        új feltétel...
      </button>
    </fieldset>
  </div>
</form>
