@import '../../../base';

.form-group {
  label {
    display: block;
    font-weight: bold;
  }

  label:nth-child(1) {
    color: $color-metalic_seaweed;
  }
}

.delete-note {
  float: right;
  color: $color-madder_lake;
  cursor: pointer;
}

.good {
  color: $color-green;
}

.bad {
  color: $color-madder_lake;
}

.inprogress {
  color: $color-carolina_blue;
}

.unknown {
  color: $color-charcoal;
}
