<app-analysis-datetime-def #period [def]="def"></app-analysis-datetime-def>
<div id="analysing_data" class="row form-group m-0 mb-4 align-items-center">
  <label class="col">Elemezendő adat</label>
  <select #objects class="col form-control" [ngModel]="def.obj.type" (change)="objectChanged(objects.value)" [disabled]="!access.canUpdate">
    <option *ngFor="let obj of objects$ | async" [value]="obj.name">{{obj.displayname}}</option>
  </select>
  <fieldset class="col-12" *ngIf="(params$ | async).length > 0">
    <legend>paraméterek</legend>
    <div class="row mb-2 pr-2 align-items-center" *ngFor="let p of params$ | async">
      <ng-template [ngIf]="p.type === 'float'">
        <label class="col-4 pr-2 mb-0">{{p.label}}</label>
        <input type="number" step="0.01" [(ngModel)]="p.value" class="col form-control" />
      </ng-template>
      <ng-template [ngIf]="p.type === 'int'">
        <label class="col">{{p.label}}</label>
        <input type="number" step="1" [(ngModel)]="p.value" class="col" />
      </ng-template>
      <ng-template [ngIf]="p.type === 'str'">
        <label class="col">{{p.label}}</label>
        <input [(ngModel)]="p.value" class="col" />
      </ng-template>
      <ng-template [ngIf]="p.type === 'datetime'">
        <label class="col">{{p.label}}</label>
        <input type="datetime" [(ngModel)]="p.value" class="col" />
      </ng-template>
    </div>
  </fieldset>
</div>
<div class="row m-0">
  <fieldset class="filters col-12 p-4">
    <legend>szűrő</legend>
    <table class="table mr-0 mt-2 text-center">
      <tbody>
        <tr class="filter mr-0 mt-2" *ngFor="let filter of filters$ | async">
          <td width="30%">
            <select class="form-control" [(ngModel)]="filter.field" (change)="updateFilterField(filter)" [disabled]="!access.canUpdate">
              <option *ngFor="let field of fields$ | async" [value]="field.name">{{field.displayname}}</option>
              <option *ngIf="!validField(filter.field)" [value]="filter.field">{{filter.field}}</option>
            </select>
          </td>
          <td width="10%">
            <select class="form-control mr-2" [(ngModel)]="filter.rel" [disabled]="!access.canUpdate">
              <option *ngFor="let op of getOperators(filter)" value="{{op}}">{{op}}</option>
            </select>
          </td>
          <td>
            <input type="number" step="0.01" class="form-control mr-2" [(ngModel)]="filter.value" *ngIf="filter._type === 'numeric' && (!filter.values || filter.values.length === 0)" [disabled]="!access.canUpdate"/>
            <input class="form-control mr-2" [(ngModel)]="filter.value" *ngIf="filter._type !== 'numeric' && (!filter.values || filter.values.length === 0)" [disabled]="!access.canUpdate"/>
            <select class="form-control mr-2" [(ngModel)]="filter.value" *ngIf="filter.values?.length > 0" [disabled]="!access.canUpdate">
              <option *ngFor="let value of filter.values" [value]="value">{{value}}</option>
            </select>
          </td>
          <td width="5%">
            <button class="btn btn-outline-danger" title="törlés" (click)="deleteFilter(filter)" *ngIf="access.canUpdate">
              <i class="bi bi-trash"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <button class="btn btn-primary mt-4" (click)="newFilter()" *ngIf="access.canUpdate">
      <i class="bi bi-plus"></i>
      hozzadás...
    </button>
  </fieldset>
  <fieldset class="params col p-4 mt-4 mr-2">
    <legend>paraméterek</legend>
    <div class="row form-group">
      <label class="col-6">x</label>
      <select class="col form-control" [(ngModel)]="def.x" [disabled]="!access.canUpdate">
        <option *ngFor="let field of numFields$ | async" [value]="field.name">{{field.displayname}}</option>
        <option *ngIf="!validNumField(def.x)" [value]="def.x">{{def.x}}</option>
      </select>
    </div>
    <div class="row form-group">
      <label class="col-6">y</label>
      <select class="col form-control" [(ngModel)]="def.y" [disabled]="!access.canUpdate">
        <option *ngFor="let field of numFields$ | async" [value]="field.name">{{field.displayname}}</option>
        <option *ngIf="!validNumField(def.y)" [value]="def.y">{{def.y}}</option>
      </select>
    </div>
    <div class="row form-group">
      <label class="col-6">forma</label>
      <select class="col form-control" [(ngModel)]="def.shape" [disabled]="!access.canUpdate">
        <option *ngFor="let field of fields$ | async" [value]="field.name">{{field.displayname}}</option>
        <option *ngIf="!validField(def.shape)" [value]="def.shape">{{def.shape}}</option>
      </select>
    </div>
    <div class="row form-group">
      <label class="col-6">szín</label>
      <select class="col form-control" [(ngModel)]="def.color" [disabled]="!access.canUpdate">
        <option *ngFor="let field of fields$ | async" [value]="field.name">{{field.displayname}}</option>
        <option *ngIf="!validField(def.color)" [value]="def.color">{{def.color}}</option>
      </select>
    </div>
    <fieldset class="row p-4">
      <legend>egyéb adatok</legend>
      <div class="col-12" *ngFor="let other of others$ | async">
        <div class="row mb-2">
          <select class="col form-control mr-2" [(ngModel)]="other.field_name" [disabled]="!access.canUpdate" (change)="updateOther()">
            <option *ngFor="let field of fields$ | async" [value]="field.name">{{field.displayname}}</option>
          </select>
          <button class="btn btn-outline-danger" title="törlés" (click)="deleteOther(other.id)" *ngIf="access.canUpdate">
            <i class="bi bi-trash"></i>
          </button>
        </div>
      </div>
      <button class="btn btn-primary mt-2" (click)="newOther()" *ngIf="access.canUpdate">
        <i class="bi bi-plus"></i>
        hozzadás
      </button>
    </fieldset>
  </fieldset>
  <fieldset class="chart-settings col p-4 mt-4 ml-2">
    <legend>grafikon beállítás</legend>
    <div class="row form-group">
      <label class="col">megnevezés</label>
      <input class="col form-control" [(ngModel)]="def.visualsettings.title" [disabled]="!access.canUpdate"/>
    </div>
    <div class="row form-group">
      <label class="col">rövid magyarázat</label>
      <input class="col form-control" [(ngModel)]="def.visualsettings.subtitle" [disabled]="!access.canUpdate"/>
    </div>
    <fieldset class="row p-4 mt-4" *ngFor="let axis of ['x', 'y']">
      <legend>{{axis}} tengely</legend>
      <div class="col">
        <div class="row form-group">
          <label class="col">felirat</label>
          <input class="col form-control" [(ngModel)]="def.visualsettings[axis + 'axis'].caption" [disabled]="!access.canUpdate"/>
        </div>
      </div>
    </fieldset>
    <fieldset class="row p-4 mt-4">
      <legend>Jelmagyarázat</legend>
      <div class="col">
        <div class="row form-group">
          <label class="col">pozició</label>
          <select class="col form-control" [(ngModel)]="def.visualsettings.legend.position" [disabled]="!access.canUpdate">
            <option *ngFor="let p of labels.legend.positions" [value]="p[0]">{{p[1]}}</option>
          </select>
        </div>
        <div class="row form-group">
          <label class="col">igazítás</label>
          <select class="col form-control" [(ngModel)]="def.visualsettings.legend.align" [disabled]="!access.canUpdate">
            <option *ngFor="let a of labels.legend.aligns" [value]="a[0]">{{a[1]}}</option>
          </select>
        </div>
      </div>
    </fieldset>
    <fieldset id="tooltip" class="p-4 mt-4 overflow-auto">
      <legend>tooltip</legend>
      <editor #editor [disabled]="!access.canUpdate" [(ngModel)]="def.visualsettings.tooltip.html" [init]="editorConfig"></editor>
    </fieldset>
  </fieldset>
</div>
