<app-analysis-datetime-def #period [def]="def"></app-analysis-datetime-def>
<div id="analysing_data" class="row form-group m-0 mb-4 align-items-center">
  <label class="col">Elemezendő adat</label>
  <select #objects class="col form-control" [ngModel]="def.obj.type" (change)="objectChanged(objects.value)" [disabled]="!access.canUpdate">
    <option *ngFor="let obj of objects$ | async" [value]="obj.name">{{obj.displayname}}</option>
  </select>
</div>
<div class="row m-0">
  <fieldset class="filters col-12 p-4">
    <legend>szűrő</legend>
    <table class="table mr-0 mt-2 text-center">
      <tbody>
        <tr class="filter mr-0 mt-2" *ngFor="let filter of filters$ | async">
          <td>
            <select class="form-control" [(ngModel)]="filter.field" (change)="updateFilterField(filter)" [disabled]="!access.canUpdate">
              <option *ngFor="let field of fields$ | async" [value]="field.name">{{field.displayname}}</option>
              <option *ngIf="!validField(filter.field)" [value]="filter.field">{{filter.field}}</option>
            </select>
          </td>
          <td>
            <select class="form-control mr-2" [(ngModel)]="filter.rel" [disabled]="!access.canUpdate">
              <option *ngFor="let op of operators" value="{{op}}">{{op}}</option>
            </select>
          </td>
          <td>
            <input class="form-control mr-2" [(ngModel)]="filter.value" *ngIf="filter.values?.length === 0" [disabled]="!access.canUpdate"/>
            <select class="form-control mr-2" [(ngModel)]="filter.value" *ngIf="filter.values?.length > 0" [disabled]="!access.canUpdate">
              <option *ngFor="let value of filter.values" [value]="value">{{value}}</option>
            </select>
          </td>
          <td>
            <button class="btn btn-outline-danger" title="törlés" (click)="deleteFilter(filter)" *ngIf="access.canUpdate">
              <i class="bi bi-trash"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <button class="btn btn-primary mt-4" (click)="newFilter()" *ngIf="access.canUpdate">
      <i class="bi bi-plus"></i>
      hozzadás...
    </button>
  </fieldset>
  <fieldset class="params col p-4 mt-4 mr-2">
    <legend>paraméterek</legend>
    <div class="row form-group">
      <label class="col-6">x</label>
      <select class="col form-control" [(ngModel)]="def.x" [disabled]="!access.canUpdate">
        <option *ngFor="let field of numFields$ | async" [value]="field.name">{{field.displayname}}</option>
        <option *ngIf="!validNumField(def.x)" [value]="def.x">{{def.x}}</option>
      </select>
    </div>
    <div class="row form-group">
      <label class="col-6">y</label>
      <select class="col form-control" [(ngModel)]="def.y" [disabled]="!access.canUpdate">
        <option *ngFor="let field of numFields$ | async" [value]="field.name">{{field.displayname}}</option>
        <option *ngIf="!validNumField(def.y)" [value]="def.y">{{def.y}}</option>
      </select>
    </div>
    <div class="row form-group">
      <label class="col-6">forma</label>
      <select class="col form-control" [(ngModel)]="def.shape" [disabled]="!access.canUpdate">
        <option *ngFor="let field of fields$ | async" [value]="field.name">{{field.displayname}}</option>
        <option *ngIf="!validField(def.shape)" [value]="def.shape">{{def.shape}}</option>
      </select>
    </div>
    <div class="row form-group">
      <label class="col-6">szín</label>
      <select class="col form-control" [(ngModel)]="def.color" [disabled]="!access.canUpdate">
        <option *ngFor="let field of fields$ | async" [value]="field.name">{{field.displayname}}</option>
        <option *ngIf="!validField(def.color)" [value]="def.color">{{def.color}}</option>
      </select>
    </div>
    <fieldset class="row p-4">
      <legend>egyéb adatok</legend>
      <div class="col-12" *ngFor="let other of others$ | async">
        <div class="row mb-2">
          <select class="col form-control mr-2" [(ngModel)]="other.field_name" [disabled]="!access.canUpdate">
            <option *ngFor="let field of fields$ | async" [value]="field.name">{{field.displayname}}</option>
          </select>
          <button class="btn btn-outline-danger" title="törlés" (click)="deleteOther(other.id)" *ngIf="access.canUpdate">
            <i class="bi bi-trash"></i>
          </button>
        </div>
      </div>
      <button class="btn btn-primary mt-2" (click)="newOther()" *ngIf="access.canUpdate">
        <i class="bi bi-plus"></i>
        hozzadás
      </button>
    </fieldset>
  </fieldset>
  <fieldset class="chart-settings col p-4 mt-4 ml-2">
    <legend>grafikon beállítás</legend>
    <div class="row form-group">
      <label class="col">megnevezés</label>
      <input class="col form-control" [(ngModel)]="def.visualsettings.title" [disabled]="!access.canUpdate"/>
    </div>
    <div class="row form-group">
      <label class="col">rövid magyarázat</label>
      <input class="col form-control" [(ngModel)]="def.visualsettings.subtitle" [disabled]="!access.canUpdate"/>
    </div>
    <fieldset class="row p-4 mt-4" *ngFor="let axis of ['x', 'y']">
      <legend>{{axis}} tengely</legend>
      <div class="col">
        <div class="row form-group">
          <label class="col">felirat</label>
          <input class="col form-control" [(ngModel)]="def.visualsettings[axis + 'axis'].caption" [disabled]="!access.canUpdate"/>
        </div>
      </div>
    </fieldset>
    <fieldset class="row p-4 mt-4">
      <legend>Jelmagyarázat</legend>
      <div class="col">
        <div class="row form-group">
          <label class="col">pozició</label>
          <select class="col form-control" [(ngModel)]="def.visualsettings.legend.position" [disabled]="!access.canUpdate">
            <option *ngFor="let p of labels.legend.positions" [value]="p[0]">{{p[1]}}</option>
          </select>
        </div>
        <div class="row form-group">
          <label class="col">igazítás</label>
          <select class="col form-control" [(ngModel)]="def.visualsettings.legend.align" [disabled]="!access.canUpdate">
            <option *ngFor="let a of labels.legend.aligns" [value]="a[0]">{{a[1]}}</option>
          </select>
        </div>
      </div>
    </fieldset>
    <fieldset class="row p-4 mt-4 overflow-auto">
      <legend>tooltip</legend>
      <quill-view class="col" *ngIf="!access.canUpdate"
        [content]="def.visualsettings.tooltip.html"
      ></quill-view>
      <quill-editor class="col" *ngIf="access.canUpdate"
        [(ngModel)]="def.visualsettings.tooltip.html"
        [modules]="{
          graphdata: { container: '#graphs_data' }
        }"
      >
        <div quill-editor-toolbar>
          <span class="ql-formats">
            <button class="ql-bold" [title]="'Bold'"></button>
            <button class="ql-italic" [title]="'Italic'"></button>
            <button class="ql-underline"></button>
          <button class="ql-strike"></button>
          </span>
          <span class="ql-formats">
            <select class="ql-align" [title]="'Aligment'">
              <option selected></option>
              <option value="center"></option>
              <option value="right"></option>
              <option value="justify"></option>
            </select>
          </span>
          <span class="ql-formats">
            <select class="ql-size">
              <option value="small"></option>
              <!-- Note a missing, thus falsy value, is used to reset to default -->
              <option selected></option>
              <option value="large"></option>
              <option value="huge"></option>
            </select>
          </span>
          <span class="ql-formats">
            <select class="ql-color"></select>
            <select class="ql-background"></select>
          </span>
          <span class="ql-formats">
            <div id="graphs_data">
              <select class="quill-custom-select" title="Grafikon adatok">
                <option value="X">X</option>
                <option value="Y">Y</option>
                <option value="SHAPE">forma</option>
                <option value="COLOR">szín</option>
                <optgroup label="egyéb mezők">
                  <option *ngFor="let other of others$ | async" [value]="other.field_name">{{other.field_name}}</option>
                </optgroup>
              </select>
              <button class="add-graphs-data">+</button>
            </div>
          </span>
        </div>
      </quill-editor>
    </fieldset>
  </fieldset>
</div>
