@import '../../base';

#loading {
  .loading-container {
    .loading-message {
      line-height: 1;
      font-size: 2rem;
      margin-left: 1rem;
    }
  }
}

#navs {
  background-color: white;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;

  > span,
  > a {
    font-size: 1.5rem;
    cursor: pointer;
  }

  > span:hover {
    color: $color-button_hover;
    font-weight: bold;
  }

  > span.selected {
    color: $color-carolina_blue;
  }

  #nav_list,
  #nav_snapshot,
  #nav_exit {
    font-size: 1.5rem;
    cursor: pointer;
  }

  #nav_exit {
    color: $color-c_fault;
  }

  #timestamp {
    font-weight: bold;
  }

  #timestamp:hover {
    color: $color-button_hover;
    cursor: pointer;
  }
}

.devices {
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 1px;

  .nav.no-selection {
    .nav-link.active {
      background-color: transparent;
      border: 1px solid $color-light-gray;
      color: $color-button;
    }
  }
}

#list {
  .listitem {
    position: relative;
  }

  .median {
    position: relative;
    border-top: 1px solid;
  }

  .event {
    color: $color-event;
    .type::after {
      content: "E";
    }
  }

  .step {
    font-size: 1.6rem;
    position: absolute;
    right: -16px;
    cursor: pointer;
    z-index: 99;
    color: $color-button;
  }

  .step.before {
    top: -4px;
  }

  .step.after {
    top: -12px;
  }

  .step:hover {
    color: $color-button_hover;
  }

  @mixin type($color, $type) {
    color: $color;
    .type::after {
      content: $type;
    }
  }

  .c-normal {
    @include type($color-c_normal, "C");
  }

  .c-warning {
    @include type($color-c_warning, "C");
  }

  .c-fault {
    @include type($color-c_fault, "C");
  }

  .c-unavailable {
    @include type($color-c_unavailable, "C");
  }

  .sample {
    @include type($color-sample, "S");
    .value {
      text-align: right;
    }
  }

  @mixin value($value) {
    .value::after {
      content: $value;
    }
  }

  .degree {
    @include value("°");
  }
  .second {
    @include value("s");
  }
  .degree-second {
    @include value("°/s");
  }
  .precent {
    @include value("%");
  }
  .celsius {
    @include value("℃");
  }
  .revolution-minute {
    @include value("rpm");
  }
  .millimeter-second {
    @include value("mm/s");
  }
  .millimeter {
    @include value("mm");
  }
}
