@import '../../styles.sass';

a:hover {
  text-decoration: none;
}

h5 {
  font-size: 4.5rem;
  text-align: center;
  cursor: pointer;
}

.card:hover {
  color: rgb(105, 105, 245);
  border: 1px solid rgb(105, 105, 245);
}

.card.dashboard {
  h5 {
    color: $color-event;
  }
}

.card.analyses {
  h5 {
    color: $color-c_normal;
  }
}

.card.install {
  h5 {
    color: $color-c_warning;
  }
}
