<div class="container">
  <div class="row row-cols-2 mt-4">
    <div class="col p-2">
      <div class="card bg-light dashboard">
        <a class="card-body" href="#" [routerLink]="'/dashboard'">
          <h5 class="card-title">
            <i class="bi bi-speedometer"></i>
            <br />
            Monitor
          </h5>
        </a>
      </div>
    </div>
    <div class="col p-2">
      <div class="card bg-light batch">
        <a class="card-body" href="#" [routerLink]="'/workpiece'">
          <h5 class="card-title">
            <i class="bi bi-list-ol"></i>
            <br />
            Munkaszámok
          </h5>
        </a>
      </div>
    </div>
    <div class="col p-2">
      <div class="card bg-light install">
        <a class="card-body" href="#" [routerLink]="'/project'">
          <h5 class="card-title">
            <i class="bi bi-cpu-fill"></i>
            <br />
            Telepítés
          </h5>
        </a>
      </div>
    </div>
    <div class="col p-2">
      <div class="card bg-light tools">
        <a class="card-body" href="#" [routerLink]="'/tools'">
          <h5 class="card-title">
            <i class="bi bi-tools"></i>
            <br />
            Szerszámok
          </h5>
        </a>
      </div>
    </div>
    <div class="col p-2">
      <div class="card bg-light analyses">
        <a class="card-body" href="#" [routerLink]="'/analyses'">
          <h5 class="card-title">
            <i class="bi bi-graph-up"></i>
            <br />
            Adatelemzések
          </h5>
        </a>
      </div>
    </div>
    <div class="col p-2">
      <div class="card bg-light alarms">
        <a class="card-body" href="#" [routerLink]="'/alarms'">
          <h5 class="card-title">
            <i class="bi bi-bell"></i>
            <br />
            Riasztások
          </h5>
        </a>
      </div>
    </div>
  </div>
</div>
