@import '../../styles.sass';

a:hover {
  text-decoration: none;
}

h5 {
  font-size: 4.5rem;
  text-align: center;
  cursor: pointer;
}

.card:hover {
  border: 1px solid $color-hover;
  h5 {
    color: $color-hover !important;
  }
}

.card.dashboard {
  h5 {
    color: rgb(95, 8, 122);
  }
}

.card.batch {
  h5 {
    color: $color-sample;
  }
}

.card.analyses {
  h5 {
    color: $color-c_normal;
  }
}

.card.install {
  h5 {
    color: $color-c_warning;
  }
}
