@import '/src/base';

a:hover {
  text-decoration: none;
}

h5 {
  font-size: 4rem;
  text-align: center;
  cursor: pointer;
}

.card:hover {
  border: 1px solid $color-hover;
  h5 {
    color: $color-hover !important;
  }
}

.card.dashboard {
  h5 {
    color: $color-metalic_seaweed;
  }
}

.card.batch {
  h5 {
    color: black;
  }
}

.card.analyses {
  h5 {
    color: $color-indigo_dye;
  }
}

.card.install {
  h5 {
    color: $color-madder_lake;
  }
}

.card.tools {
  h5 {
    color: $color-alloy_orange;
  }
}

.card.alarms {
  h5 {
    color: $color-madder_lake;
  }
}
