@import '/src/base';

.form-group {
  align-items: center !important;
  > label {
    margin-bottom: 0;
  }
}

.group {
  border: 1px solid $color-light-blue;
  border-radius: 5px;
  background-color: $color-light-blue;
  padding: 0.25rem;
  margin-bottom: 0.25rem;

  .form-group:nth-child(2) {
    margin-bottom: 0;
  }
}
