@import '/src/base.scss';

.chart-container {
  position: relative;
}

.chart-loading-indicator {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
}

::ng-deep table#result {

  tr:not(.subtitle):not(.title) {
    th {
      cursor: pointer;
    }
    th:hover {
      background-color: $color-light-blue;
    }
  }

  th[order-direction="asc"]::after {
    content: "▴"
  }

  th[order-direction="desc"]::after {
    content: "▾"
  }

  th[order-direction]::after {
    float: right;
  }
}

::ng-deep .cont {
  margin-bottom: 1rem;

  .infobox {
    margin: 0 1rem;
    .title {
      text-align: center;
      font-weight: bold;
    }

    .box {
      margin: 0.5rem;
      border: 1px solid $color-gray;
      border-radius: 5px;
      .row:nth-child(2n) {
        background-color: $color-light-blue;
      }

      .row > .col:nth-child(2) {
        text-align: right;
      }
    }
  }
}
