@import '/src/base.scss';

.chart-container {
  position: relative;
}

.chart-loading-indicator {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
}

::ng-deep table#result {

  tr:not(.subtitle):not(.title) {
    th {
      cursor: pointer;
    }
    th:hover {
      background-color: $color-light-blue;
    }
  }

  th[order-direction="asc"]::after {
    content: "▴"
  }

  th[order-direction="desc"]::after {
    content: "▾"
  }

  th[order-direction]::after {
    float: right;
  }
}
