<div class="row">
  <div class="col-12 mb-4" *ngIf="access.canUpdate">
    <div class="row align-items-center justify-content-between m-0">
      <button class="btn btn-primary col-auto mr-4" (click)="saveAs()" *ngIf="isOwn()">
        <i class="bi bi-save2"></i>
        Mentés másként...
      </button>
      <div class="col-5">
        <div class="row">
          <div class="col">
            <div class="form-group mb-0 row align-items-center">
              <label class="col-auto mb-0">ügyfél</label>
              <select #customer class="form-control col" [ngModel]="def.customer" [disabled]="!access.canUpdate" (change)="changeCustomer(customer.value)">
                <option [value]="''">--nincs megosztva--</option>
                <option *ngFor="let customer of customers" [value]="customer">{{customer}}</option>
              </select>
            </div>
          </div>
          <div class="btn-group btn-group-toggle col-auto pr-0" ngbRadioGroup name="radioBasic" [(ngModel)]="def.shared" *ngIf="isOwn()">
            <label ngbButtonLabel class="{{!def.shared ? 'btn-outline-success' : 'btn-success'}}" title="{{def.shared ? 'megosztva' : 'megosztás'}}">
              <input ngbButton type="radio" [value]="true" (change)="shareChanged()"><i class="bi bi-people"></i>
            </label>
            <label ngbButtonLabel class="{{def.shared ? 'btn-outline-warning' : 'btn-warning'}}" title="{{def.shared ? 'ne legyen megosztva' : 'nincs megosztva'}}">
              <input ngbButton type="radio" [value]="false" (change)="shareChanged()"><i class="bi bi-person"></i>
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12">
    <ngb-accordion #settings="ngbAccordion" activeIds="{{isNew() ? 'analysis-settings' : ''}}" type="light" [destroyOnHide]="false" [animation]="true">
      <ngb-panel title="Paraméterek" cardClass="settings" id="analysis-settings">
        <ng-template ngbPanelContent>
          <app-analysis-timeseries-def #timeseries_def *ngIf="analysisType === '0'" [metaList]="metaList" [def]="def.timeseriesdef"></app-analysis-timeseries-def>
          <app-analysis-xy-def #xy_def *ngIf="analysisType === '1'" [def]="def.xydef"></app-analysis-xy-def>
          <app-analysis-list-def #list_def *ngIf="analysisType === '2'" [def]="def.listdef"></app-analysis-list-def>
          <app-analysis-capability-def #capability_def *ngIf="analysisType === '3'" [def]="def.capabilitydef" [metaList]="metaList"></app-analysis-capability-def>
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
  </div>
  <div class="col-12 mt-4 mb-4 text-center" *ngIf="access.canUpdate">
    <button class="btn btn-outline-success" (click)="getResult()">Adatok lekérdezése</button>
  </div>
  <div id="chart-container" class="col-12">
    <div *ngIf="error" class="alert alert-danger text-center" role="alert">
      {{errorMsg}}
    </div>
    <div *ngIf="loading$ | async" class="loading-indicator text-center">
      <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
    <div *ngIf="showChart" #chart_place class="row">
      <div class="col-12">
        <button *ngIf="showResetZoom" class="btn btn-outline-primary" (click)="resetZoom()">Nagyítás törlése</button>
      </div>
      <canvas #chart class="col chart"></canvas>
    </div>
    <div *ngIf="showTable" class="mb-4">
      <button class="btn btn-outline-success mr-4" (click)="exportToExcel()">
        <i class="bi bi-file-earmark-excel-fill"></i>
        Excel export
      </button>
      <button class="btn btn-outline-secondary mr-4" (click)="exportToExcel(true)">
        <i class="bi bi-file-earmark-spreadsheet-fill"></i>
        CSV export
      </button>
      <button class="btn btn-outline-primary" (click)="exportToHtml()">
        <i class="bi bi-file-earmark-code-fill"></i>
        HTML export
      </button>
    </div>
    <div *ngIf="showTable" #table></div>
  </div>
</div>

<ng-template #new_dialog let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-new-title">Új elemzés</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="analysis_name">lekérdezés neve</label>
        <input id="analysis_name" class="form-control" required [(ngModel)]="def.name" name="def_name" />
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-success" (click)="modal.close('save')">Mentés</button>
    <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss()">Mégse</button>
  </div>
</ng-template>
