<div class="row">
  <div class="col-12 mb-4">
    <div class="row align-items-center justify-content-between m-0">
      <button class="btn btn-primary col-auto mr-4" (click)="saveAs()" *ngIf="isOwn()">
        <i class="bi bi-save2"></i>
        Mentés másként...
      </button>
      <div class="btn-group btn-group-toggle col-auto pr-0" ngbRadioGroup name="radioBasic" [(ngModel)]="def.shared" *ngIf="isOwn()">
        <label ngbButtonLabel class="{{!def.shared ? 'btn-outline-success' : 'btn-success'}}" title="{{def.shared ? 'megosztva' : 'megosztás'}}">
          <input ngbButton type="radio" [value]="true" (change)="shareChanged()"><i class="bi bi-people"></i>
        </label>
        <label ngbButtonLabel class="{{def.shared ? 'btn-outline-warning' : 'btn-warning'}}" title="{{def.shared ? 'ne legyen megosztva' : 'nincs megosztva'}}">
          <input ngbButton type="radio" [value]="false" (change)="shareChanged()"><i class="bi bi-person"></i>
        </label>
      </div>
    </div>
  </div>
  <div class="col-12">
    <ngb-accordion #settings="ngbAccordion" activeIds="{{isNew() ? 'analysis-settings' : ''}}" type="light" [destroyOnHide]="false" [animation]="true">
      <ngb-panel title="Beállítások" cardClass="settings" id="analysis-settings">
        <ng-template ngbPanelContent>
          <app-analysis-timeseries-def #timeseries_def *ngIf="analysisType === '0'" [metaList]="metaList" [def]="def.timeseriesdef"></app-analysis-timeseries-def>
          <app-analysis-xy-def #xy_def *ngIf="analysisType === '1'" [def]="def.xydef"></app-analysis-xy-def>
          <app-analysis-list-def #list_def *ngIf="analysisType === '2'" [def]="def.listdef"></app-analysis-list-def>
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
  </div>
  <div class="col-12 mt-4 mb-4 text-center">
    <button class="btn btn-outline-success" (click)="getChart()">Adatok lekérdezése</button>
  </div>
  <div id="chart-container" class="col-12">
    <div *ngIf="chartError" class="alert alert-danger text-center" role="alert">
      {{chartErrorMsg}}
    </div>
    <canvas #chart class="chart"></canvas>
    <div *ngIf="chartLoading$ | async" class="chart-loading-indicator text-center">
      <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
  </div>
</div>

<ng-template #new_dialog let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-new-title">Új elemzés</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="analysis_name">lekérdezés neve</label>
        <input id="analysis_name" class="form-control" required [(ngModel)]="def.name" name="def_name" />
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-success" (click)="modal.close('save')">Mentés</button>
    <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss()">Mégse</button>
  </div>
</ng-template>
