<div class="container-lg pb-4">
  <div class="main-header row justify-content-between align-items-center shadow-sm">
    <h2 class="col-auto">I<span>4</span>C</h2>
    <div ngbDropdown class="col-auto" *ngIf="isLoggedIn$ | async">
      <button class="btn btn-outline-primary" id="logged_user" ngbDropdownToggle>{{loggedUserName$ | async}}</button>
      <div ngbDropdownMenu aria-labelledby="logged_user">
        <a ngbDropdownItem href="#" [routerLink]="['/alarms/subscriptions']" *ngIf="access.subscriptions">Feliratkozások</a>
        <button ngbDropdownItem (click)="logout()">Kijelentkezés</button>
      </div>
    </div>
  </div>
  <nav aria-label="breadcrumb row" *ngIf="isLoggedIn$ | async">
    <ol class="breadcrumb" >
      <li class="breadcrumb-item" *ngFor="let breadcrumb of (breadcrumbs$ | async); last as isLast" [ngClass]="{ 'active': isLast }">
        <a *ngIf="!isLast" href="#" [routerLink]="[breadcrumb.url]">{{ breadcrumb.label }}</a>
        <ng-template [ngIf]="isLast"><span class="last">{{breadcrumb.label}}</span></ng-template>
      </li>
    </ol>
  </nav>
  <app-notif></app-notif>
  <router-outlet></router-outlet>
</div>


<div *ngIf="loading" class="modal d-block" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content shadow p-3 mb-5 bg-white rounded">
      <div class="modal-body">
        <div class="loading-container d-flex justify-content-center">
          <div class="loading-icon spinner-border text-primary mr-2" role="status">
            <span class="sr-only">Betöltés...</span>
          </div>
          <span class="loading-message mt-1">Betöltés...</span>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="downloading" class="modal d-block" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content shadow p-3 mb-5 bg-white rounded">
      <div class="modal-body">
        <ng-template [ngIf]="!downloadError">
          <p>Letöltés folyamatban...</p>
          <p><ngb-progressbar type="primary" textType="white" [value]="downloadProgress" [showValue]="true"></ngb-progressbar></p>
        </ng-template>
        <ng-template [ngIf]="downloadError">
          <div class="text-danger">
            <p>Hiba:</p>
            <p>downloadErrorMsg</p>
          </div>
        </ng-template>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="cancelDownload()">Mégse</button>
      </div>
    </div>
  </div>
</div>
