$color-indigo_dye: #08415C;
$color-charcoal: #273E47;
$color-beau_blue: #C1CFDA;
$color-crimson: #941C2F;
$color-madder_lake: #CC2936;

$color-since: #aaa;
$color-c_unavailable: rgb(73, 151, 77);
$color-c_normal: $color-c_unavailable;
$color-c_warning: rgb(218, 141, 0);
$color-c_fault: rgb(196, 39, 39);
$color-event: rgb(42, 132, 218);
$color-sample: black;
$color-hover: $color-event;
$color-gray: #aaa;

$color-background: #E6E8E6;
$color-primary: #941C2F;
$color-secondary: #03191E;
