/* You can add global styles to this file, and also import other style files */
@import 'base'

.menu-context
  background-color: transparent
  border: none
  margin: 0

  > .arrow
    display: none

  > .popover-body
    padding: 0

    > .dropdown-menu
        display: block


.accordion
  > .section
    margin-bottom: 0.5rem
    background-color: white
    border: none
    border-bottom: 1px solid $color-gray
    border-radius: 0
    > .card-header
      background-color: white
      padding: 0
      border-bottom: none
      > button
        text-align: left
        width: 100%
        font-weight: bold
        color: $color-gray
        padding-left: 0
      > button::after
        position: absolute
        content: "▲"
        right: 0
      > button.collapsed::after
        content: "▼"

body
  background: $color-background

.primary
  color: $color-primary

.secondary
  color: $color-secondary

.btn-primary,
.btn-primary.disabled,
.btn-primary:disabled
  background-color: $color-primary
  border-color: $color-primary

.btn-primary:hover
  background-color: $color-secondary
  border-color: $color-secondary

.container,
.container-lg
  background-color: #fff

.invalid-feedback
  position: absolute
  margin-top: 0
  display: block
