/* You can add global styles to this file, and also import other style files */
@import 'base'

.menu-context
  background-color: transparent
  border: none
  margin: 0

  > .arrow
    display: none

  > .popover-body
    padding: 0

    > .dropdown-menu
        display: block


.accordion
  > .section
    margin-bottom: 0.5rem
    background-color: white
    border: none
    border-bottom: 1px solid $color-metalic_seaweed
    border-radius: 0
    > .card-header
      background-color: white
      padding: 0
      border-bottom: none
      > button
        text-align: left
        width: 100%
        font-weight: bold
        color: $color-metalic_seaweed
        padding-left: 0
      > button::after
        position: absolute
        content: "▲"
        right: 0
      > button.collapsed::after
        content: "▼"

body
  background: $color-background !important

.container,
.container-lg
  background-color: #fff

.invalid-feedback
  position: absolute
  margin-top: 0
  display: block



$primary: $color-button
$secondary: $color-charcoal
$danger: $color-madder_lake
$warning: $color-harvest_gold
$success: $color-green
$info: $color-metalic_seaweed
$light: #F1FBFF
@import "../node_modules/bootstrap/scss/bootstrap"
