@import '../../../base';

.hint {
  border: 2px solid $color-harvest_gold;
  background-color: lighten($color:$color-harvest_gold, $amount: 35);

  .arrow::before {
    border-bottom-color: $color-harvest_gold !important;
  }

  .arrow::after {
    border-bottom-color: lighten($color:$color-harvest_gold, $amount: 35);
  }
}
