@import '../../../base';

#dialog {
  input[type="submit"] {
    display: none;
  }

  #search_metrics + .dropdown-menu {
    max-height: 500px;
    overflow-y: auto;
  }

  ul {
    list-style-type: none;
    padding: 0 1rem;
  }

  li {
    white-space: nowrap;
  }

  li, i {
    cursor: pointer;
  }

  li {
    button.category {
      position: relative;
      top: -2px;
    }
  }

  .closed {
    > ul {
      display: none;
    }
    > .bi-plus-square {
      display: inline-block;
    }

    > .bi-dash-square {
      display: none;
    }
  }

  .opened {
    > ul {
      display: block;
    }

    > .bi-plus-square {
      display: none;
    }

    > .bi-dash-square {
      display: inline-block;
    }
  }

  .leaf {
    padding: 0.25rem;
    > .bi-plus-square,
    > .bi-dash-square {
      display: none;
    }
  }

  .leaf:hover {
    background-color: rgb(190, 243, 250);
  }

  #search_condition_types {

    .condition {
      border-color: black;
      border-radius: 50%;
    }

    .condition.active {
      box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 50%);
    }

    .fault {
      background-color: $color-c_fault;
    }
    .warning {
      background-color: $color-c_warning;
    }
    .fault-warning {
      background: linear-gradient(0.25turn, $color-c_fault 50%, $color-c_warning 50%);
    }
    .normal {
      background-color: $color-c_normal;
    }
  }
}
