From: {{sender}}
To: {{email}}
Content-Type: multipart/alternative; boundary="{{sep}}"
Subject: =?UTF-8?Q?I4C jelsz=c3=b3?=

This is a multi-part message in MIME format.

--{{sep}}
Content-Type: text/plain; charset=UTF-8
Content-Transfer-Encoding: 8bit

Az Ön I4C fiókjához új jelszó lett kérve. Amennyiben Ön kezdeményezte, az
alábbi link segítségével választhat új jelszót. Ha nem Ön kérte, úgy nem
szükséges semmit tennie. A jelszó megváltoztatásához nyissa meg ezt az oldalt a
böngészőjével (vagy csak kattintson rá, ha a levelezőprogramja lehetővé teszi):

https://i4c.technocar.hu/pwdreset?token={{token}}&loginname={{login}}

--{{sep}}
Content-Type: text/html; charset=UTF-8
Content-Transfer-Encoding: 8bit

<html>
<body>

</body>
</html>
--{{sep}}--

